.sidebar  {
  position: relative;
  width: 25%;
  float: left;
  overflow: hidden;
  height: 25%;
  background-color: #ededed;
  border-radius: 5px;
}
.container {
  float: right;
  background-color: #ceedd7;
}
.row {
  float: left;
  padding-left;
  padding-right;
}
.container {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.container
