.sidebar  {
  position: relative;
  width: 25%;
  float: left;
  overflow: hidden;
  height: 25%;
  background-color: #ededed;
  border-radius: 5px;
}
.container {
  float: right;
  background-color: #ceedd7;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.row {
  float: left;
  padding-left;
  padding-right;
}

.jumbotron h1 {
  text-decoration: underline;
}

.notes {
padding: 35px;
  }
  .well p {
    padding: 15px
    background-color: #ededed;
    padding-right: 15px
  }
.well h2 {
  text-decoration: underline;
}
